@import "tailwindcss";

body {
	background: #0d0c0c;
	color: #ededed;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide-scrollbar {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	font-family: var(--font-assistant-sans);
	cursor: none;
}
.scroll {
	scrollbar-width: none;
	-ms-overflow-style: none;
	overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
	display: none;
}

.fixed {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 9999;
}

.fixed.dot {
	width: 6px;
	height: 6px;
	background: white;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.fixed.outer {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 1px solid white;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 9999;
	mix-blend-mode: difference;
}
